!!! 5
%html{lang: "en"}
  %head
    = partial "includes/layout/head"
  %body{class: "#{page_classes} #{'purple-bg' if current_page.data.purple_bg}", data: {spy: "scroll", target: ".qnav", offset: "90"}}
    .page-wrap
      = partial "includes/google/gtm"
      = partial "includes/layout/header"
      = partial "includes/layout/headline"

      .blank-header
        = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
        = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
        .header-content
          %h1
            DevOps Tools Landscape
          :markdown
            There are a lot of DevOps tools out there. As a single application for the entire DevOps life cycle, GitLab can remove the pain of having to choose, integrate, learn, and maintain the multitude of tools necessary for a successful DevOps tool chain. However, GitLab does not claim to contain all the functionality of all the tools listed here. Click on a DevOps tool to compare it to GitLab. If a tool is missing or incorrect then [create an issue](mailto:incoming+gitlab-com-marketing-product-marketing-7424125-issue-@incoming.gitlab.com?subject=DevOps%20tool%20request&amp;bcc=devopstools%40gitlab.com&amp;body=-%20Tool%20name%3A%0D%0A-%20Stages%3A%0D%0A-%20Change%3A%0D%0A%0D%0A%0D%0APlease%20leave%20these%20label%20flags.%20%20%20%20%0D%0A%2Flabel%20~comparison%20~Servicedesk) and we'll get it resolved."
          %a.btn.cta-btn.btn-red{ href: '/demo/' }
            Watch a GitLab demo

      .comparison-container.full-post
        .container.comparison-table
          .comparison-page-content.col-sm-12
            = yield

      .content-container.text-center{ style: "border-top: 1px solid #d7d7d7; color: #777" }
        .container
          %em
            Git is a trademark of Software Freedom Conservancy and our use of 'GitLab' is under license. All other logos and trademarks are the logos and trademarks of their respective owners.

      .content-container.explore-gitlab-products.text-center
        .container
          %h2.color-primary
            Try
            %a{ href: "/pricing/#self-managed" }GitLab Ultimate
            risk-free for 30 days.
          %p.subheader-text
            No credit card required. Have questions?
            = link_to "Contact us.", "/sales/", class: "contact-us"
          .action
            = link_to "Get Your Free Trial Today", "/free-trial/", class: "btn cta-btn btn-red margin-top20"
      - if current_page.data.trial_bar
        = partial "includes/features/gitlab-ee-trial"

      .content-container.text-center{ style: "border-top: 1px solid #d7d7d7; color: #777" }
        .container
          %p
            If you feel there are inaccurate statements in this comparison or a tool missing, please 
            %a{:href => "https://gitlab.com/gitlab-com/www-gitlab-com/blob/master/source/devops-tools/index.html.haml"}edit this page 
            or propose edits by 
            %a{:href => "https://gitlab.com/gitlab-com/www-gitlab-com/-/blob/master/incoming+gitlab-com-marketing-product-marketing-7424125-issue-@incoming.gitlab.com"}opening an issue. 
            You can also send an email to 
            %a{:href => "mailto:devopstools@gitlab.com?subject=Suggested edit https://about.gitlab.com/devops-tools/"}devopstools@gitlab.com 
            with your suggested edits if you're unable to open an issue or edit this page.            
    
      .footer-container
        = partial "includes/layout/footer"
